.toolbar {
  background-color: #1827DD;
  color: #fff;
  height: 50px;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-icon {
  font-size: 30px;
}

.mat-icon-button {
  color: #fff;
  background-color: #1827DD;
  background: #1827DD;
}
