.toolbar {
  background-color: #1827DD;
  color: #fff;
  height: 55px;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-icon {
  font-size: 30px;
}

.mat-icon-button {
  color: #fff;
  background-color: #1827DD;
  background: #1827DD;
}

.sidenav {
  background: #fff;
  opacity: 87%;
  width: 150px;
}