.footer {
    &-container{
        position: fixed;
        left: 0;
        bottom: 0;
        height: 35px;
        padding: 0 5px;
        display: flex;
        align-items: center;
        width: 100%;
        background: #1827DD;
        background-color: #1827DD;
        color: #fff;
        display: flex;
        justify-content: center;
        font-size: .8rem;
        font-family: Rubik,Helvetica Neue,sans-serif;
    }

}